.spinner {
    width        : 4em;
    height       : 4em;
    border-width :   0.2em 0.3em 0.4em 0.5em;
    border-style : dotted;
    border-color : transparent blue blue blue;
    border-radius: 50%;
    transform    : rotate(0deg);
    animation    : spin 2s linear infinite;
    margin       : 2em auto 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}